.paging { display: none; }
.btn { margin: auto; background-color: var(--bg-dark); color: #fff; width: 100%; font-weight: bold; }
.btn:hover { background-color: var(--highlight) }
.auto-table input, .auto-table textarea, .auto-table select { width: 95%; height: 60px; border: none }
section label:first-of-type, section label:nth-of-type(2),input[name=search] { display: none; }
.btnDelete { background-color: var(--error); color: #fff }
span { cursor: pointer; }
.deleteContainer { width: 100% }
.deleteContainer button { width: 100%; margin: 0 1% }
summary { font-size: 28px; }
input[type=checkbox] { margin: 10px 0 15px 0 }
details { cursor: pointer; }
/* Draggable CSS */
.task {
	cursor: move;
	background: white;
	margin: 8px 0;
	padding: 16px;
	border: 1px solid #ddd;
	border-radius: 4px;
	transition: background-color 0.2s ease;
	display: flex;
	justify-content: space-between;
}

.task input, .task select, .task textarea { width: 100%; height: 40px; border-radius: 3px; border: none; background-color: #f9f9f9; }
.task textarea { height: 100px }
.task div:first-of-type {	width: 50% }
.task span { margin: 20px auto; }


.task.dragging {
	opacity: 0.5;
	background: #f0f0f0;
}

.task:hover {
	background: #c5c4c4;
}